.nav-tabs__images li a{
    color: #272727 !important;
    font-size: 17px;
    cursor: pointer;
}
.nav-tabs__images li a:hover{
    color: #272727 !important;
}

.pictures{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}
@media screen and (max-width:992px){
    .pictures{
        grid-template-columns: repeat(3, 1fr);
    }
}

.pictures img{
    object-fit: cover; 
    width: 100%;
    border-radius: 2px;
}


/*Full screen*/
.overlay-close{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10000;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
}