@font-face {
  font-family: 'Roboto-Regular';
  /*src: url('Roboto-Regular.eot'); /* IE9 Compat Modes */
  /*src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /*url('Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
src:   url('../fonts/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Roboto-Regular.ttf')  format('truetype') /* Safari, Android, iOS */;
       /*url('Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-size: 18px;
}
@font-face {
  font-family: 'Roboto-Bold';
  /*src: url('Roboto-Bold.eot'); /* IE9 Compat Modes */
  /*src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /*url('Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
src:   url('../fonts/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Roboto-Bold.ttf')  format('truetype') /* Safari, Android, iOS */;
       /*url('Roboto-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-size: 18px;
}


body {
  font-family: 'Roboto-Regular';
    /*background-image: url('../img/earth.jpg');
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;*/
    /*color: #000;*/
    /*padding-top: 70px;*/
    font-size: 17px;
    color: #000;
    margin: 0 0 90px 0;
}
html{
  position: relative;
  min-height: 100%;
}

p {
    color: #000;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto-Bold';
}

.robot-b{
  font-family: 'Roboto-bold';
}

#content{
  padding-bottom: 20px;
  padding-top:30px;
}

#page-content {
    margin-top: 100px;
}


/*----- Navbar -----*/

.navbar-nav {
    float: left;
    margin: 10px 0px;
}

.navbar-text {
    color: #fff !important;
    margin-left: 0px;
    text-decoration: none !important;
    margin-right: 15px;
}

.navbar-text a:focus, a:hover {
    color: #fff !important;
    text-decoration: none;
}

.navbar-nav>li>a {
    color: #a9b6c1;
}

.navbar-nav .active a {
    background-color: inherit !important;
    color: #FFF !important;
}

.navbar-nav li a:before {
    position: absolute;
    content: '';
    height: 7px;
    width: 100%;
    background: #dc0032;
    margin-left: -15px;
    opacity: 0;
    bottom: 0;
}

.navbar-nav .active a:before {
    opacity: 1;
    bottom: 0;
}

.navbar-nav a:hover:before {
    opacity: 1;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

#navbar {
    background-color: #272727;
}

.active a {
    background-color: inherit !important;
    color: #FFF !important;
}

#slide-nav.navbar-invers {
    background-color: #272727;
}


/*not using button -- comentar para usar el boto y poner otro icono icomoon */

#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    margin: 0;
    width: 35px;
    height: 70px;
    padding: 0;
    border: 0;
    background: transparent;
}

#slide-nav .navbar-toggle>.icon-bar {
    width: 100%;
    display: block;
    height: 4px;
    margin: 6px 0 0 0;
    background-color: #FFF;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: #dc0032;
}


/*----- End Navbar -----*/

#maps{
  max-width: 100%;
}


/*-----Footer-----*/

footer {
    /*padding: 40px;*/
    /*background-color: #eaeaea;*/
    background-color: #272727;
    width: 100%;
   bottom: 0;
   position: absolute;
   height: 90px;
}
img.logo{
  height: 50px;
  margin: 20px 10px;
}

.social-mail {
    color:#dc0032;
}

.social-mail:hover {
    color:#dc0032 !important;
}

.social-mail:visited {
    color:#dc0032;
}

.social-mail:link {
  color:#dc0032;
}
.social-tw {
    color:#00aced;
}

.social-tw:hover {
    color:#00aced !important;
}

.social-tw:visited {
    color:#00aced;
}

.social-tw:link {
  color:#00aced;
}
.social-fb {
    color:#3B5998;
}

.social-fb:hover {
    color:#3B5998 !important;
}

.social-fb:visited {
    color:#3B5998;
}

.social-fb:link {
    color:#3B5998;
}

/*--End Footer--*/


.fa-angle-left, .fa-angle-right{
     position: absolute;
      top: 50%;
      display: inline-block;
      margin-top: -10px;
}

.btn-red{
  font-family: 'Roboto-Bold';
  font-size: 16px;
  background-color: #fff;
  color: #dc0032;
  border-color: #dc0032;
  border-radius: 15px;
}
.btn-red:hover{
  background-color: #dc0032 !important;
  color: #fff !important;
}

.btn-red:focus{
  outline: none !important;
}

.btn-green{
  font-family: 'Roboto-Bold';
  font-size: 16px;
  background-color: #fff;
  color: #2ecc71;
  border-color: #2ecc71;
  border-radius: 15px;
}
.btn-green:hover{
  background-color: #2ecc71 !important;
  color: #fff !important;
}

.btn-green:focus{
  outline: none !important;
}


a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover{
  border: none !important;
  outline: none !important;
}
a.thumbnail{
  outline: none !important;
  border: none;
}

.modal-body-img{
  padding: 5px;
}


#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}


#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;

    z-index:1032;
}

.dome-red{
  color: #dc0032;
  font-family: 'Roboto-Bold';
}

.dome-green{
  color: #35d01b;
font-family: 'Roboto-Bold';
}

.features{
  font-family: 'Roboto-Bold';
}

.about-text{
  text-align: justify;
}
.form-control{
  font-size: 17px;
}

.alert {
    padding: 5px
  }
/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}
h1.title{
  text-align: center;
}

/* Small Devices, Tablets */

@media only screen and (max-width: 1115px) {
    .navbar-text {
        float: left;
        /*margin-left: 15px;
        margin-right: 15px;*/
    }
    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }
    .navbar-header {
        left: 0!important
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}

@media only screen and (max-width:1115px) {
    /*-----End Navar-----*/
    #slide-nav .container {
        margin: 0!important;
        padding: 0!important;
        height: 100%;
    }
    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
    }
    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }
    #slide-nav #slidemenu {
        /*background: #f7f7f7;*/
        left: -100%;
        width: 40%;
        min-width: 0;
        /*position: absolute;*/
        padding-left: 0;
        z-index: 2;
        top: 75px;
        /*margin-top: 10px;*/
        position: fixed;
        height: 100%;
    }
    #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0;
    }

    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }
    #slide-nav {
        border-top: 0
    }
    #slide-nav.navbar-invers #slidemenu {
        background-color: #272727;
    }
    #slide-nav .navbar-form {
        width: 100%;
        margin: 8px 0;
        text-align: center;
        overflow: hidden;
        /*fast clearfixer*/
    }
    #slide-nav .navbar-form .form-control {
        text-align: center
    }
    #slide-nav .navbar-form .btn {
        width: 100%
    }
    .navbar-toggle {
    display: block;
}
    .navbar-nav>li>a:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 7px;
        background: #dc0032;
        margin-left: -15px;
        opacity: 0;
        bottom: 0;
    }
    /*-----End Navar-----*/
    #page-content {
        margin-top: 70px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-nav>li {
        float: none;
    }
}








@media (min-width: 1116px){


  .navbar-header {
      float: left;
  }
.navbar-toggle {
    display: none;
}


}



.expSolar,.expSolar_click{
  background-color: #ffa500;
}

.expNocturno, .expNocturno_click{
  background-color: #758ddc
}

.padding0{
  padding: 0px;
}
.table-active{
  background-color: #4d90fe;
}
.table-hover>tbody>tr:hover {
    background-color: #4d90fe;
}
.table-disabled{
    pointer-events:none;
}

/* codigo añadido oscar */

/* Style the search field */
form.barraBusqueda input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.barraBusqueda button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.barraBusqueda button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.barraBusqueda::after {
  content: "";
  clear: both;
  display: table;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  /* background-color: #111; */
}

.right {
  right: 0;
/*   background-color: red; */
}

.outer { display: flex; }

.flex { display: flex; }
.flexCentered{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex .btnVideoController{
  margin:  4px 0;
  width: 100%;
}
.flex .grow1 {
  flex-grow: 1;
  width: 50%;
}

@media only screen and (max-width: 1024px) {
  .flex { flex-direction: column; }
  .flex.buttonContainer { flex-direction: row; }
  .flex .grow1 {
    display: block;
    flex-grow: inherit;
    margin: 0 0 20px;
    width: 100%;
  }
}

.controllerContainer{ margin-bottom: 20px;}

@media only screen and (max-width: 768px) {
  .controllerContainer input[type=range] { width: 100%; }
  .controllerContainer input[type=number] { width: 85%; }
}

#modalVideo{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 50%;
  background-color: #fff;
  border: 2px solid lightgray;
  border-radius: 5px;
  z-index: 9000;
  transform: translate(-50%, -50%);
}

#modalError{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 50%;
  background-color: #fff;
  border: 2px solid #e03a61;
  border-radius: 5px;
  z-index: 9000;
  transform: translate(-50%, -50%);
}

#modalExito{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 50%;
  background-color: #fff;
  border: 2px solid lightgreen;
  border-radius: 5px;
  z-index: 9000;
  transform: translate(-50%, -50%);
}

#veloModal{
  width: 100vw;
  height: 300vh;
  background-color: #000;
  opacity: 0.3;
  display: none;
  position: absolute;
  top:0;
  left: 0;
  z-index: 5;
}

#modalVideo label{
  display: block;
}

#modalVideo input{
  display: block;
  margin-bottom: 12px;
}

.imgError{
    border: 0;
    width: 100px;
    margin-left: 120px;
}

#streamingPlayer{
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
  #streamingPlayer{
    max-width: 500px;
    border: 0;
    margin: 0 auto 20px;
    display: block !important;
  }
}

input[type=range] {
  display: block;
  width: 60%;
}

/* Estilo para la galeria */

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.buttonBelow {
  margin: 45%;
  margin-top: 2%;
  margin-bottom: 2%;
}


.parameters > div{ margin-bottom: 20px;}
.parameters h3{
  font-size: 18px;
  margin: 0 0 5px;
}.parameters input[type=range]{ margin: 0 0 5px; }

@media only screen and (min-width: 1024px) {
  .parameters:first-child{padding-left: 0;}
  .parameters:last-child{padding-right: 0;}
}