@font-face {
  font-family: 'Roboto-Regular';
  /*src: url('Roboto-Regular.eot'); /* IE9 Compat Modes */
  /*src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /*url('Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
src:   url('../fonts/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Roboto-Regular.ttf')  format('truetype') /* Safari, Android, iOS */;
       /*url('Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-size: 18px;
}
@font-face {
  font-family: 'Roboto-Bold';
  /*src: url('Roboto-Bold.eot'); /* IE9 Compat Modes */
  /*src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /*url('Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
src:   url('../fonts/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Roboto-Bold.ttf')  format('truetype') /* Safari, Android, iOS */;
       /*url('Roboto-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-size: 18px;
}


body {
  font-family: 'Roboto-Regular';
    /*background-image: url('../img/earth.jpg');
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;*/
    /*color: #000;*/
    /*padding-top: 70px;*/
    font-size: 17px;
    color: #000;
    margin: 0 0 90px 0;
}
html{
  position: relative;
  min-height: 100%;
}

p {
    color: #000;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto-Bold';
}

.robot-b{
  font-family: 'Roboto-bold';
}

#content{
  padding-bottom: 20px;
}

#page-content {
    margin-top: 100px;
}


/*----- Navbar -----*/

.navbar-nav {
    float: left;
    margin: 10px 0px;
}

.navbar-text {
    color: #fff !important;
    margin-left: 0px;
    text-decoration: none !important;
    margin-right: 15px;
}

.navbar-text a:focus, a:hover {
    color: #fff !important;
    text-decoration: none;
}

.navbar-nav>li>a {
    color: #a9b6c1;
}

.navbar-nav .active a {
    background-color: inherit !important;
    color: #FFF !important;
}

.navbar-nav li a:before {
    position: absolute;
    content: '';
    height: 7px;
    width: 100%;
    background: #dc0032;
    margin-left: -15px;
    opacity: 0;
    bottom: 0;
}

.navbar-nav .active a:before {
    opacity: 1;
    bottom: 0;
}

.navbar-nav a:hover:before {
    opacity: 1;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

#navbar {
    background-color: #272727;
}

.active a {
    background-color: inherit !important;
    color: #FFF !important;
}

#slide-nav.navbar-invers {
    background-color: #272727;
}


/*not using button -- comentar para usar el boto y poner otro icono icomoon */

#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    margin: 0;
    width: 35px;
    height: 70px;
    padding: 0;
    border: 0;
    background: transparent;
}

#slide-nav .navbar-toggle>.icon-bar {
    width: 100%;
    display: block;
    height: 4px;
    margin: 6px 0 0 0;
    background-color: #FFF;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: #dc0032;
}


/*----- End Navbar -----*/

#maps{
  max-width: 100%;
}


/*-----Footer-----*/

footer {
    /*padding: 40px;*/
    /*background-color: #eaeaea;*/
    background-color: #272727;
    width: 100%;
   bottom: 0;
   position: absolute;
   height: 90px;
}
img.logo{
  height: 50px;
  margin: 20px 10px;
}

.social-mail {
    color:#dc0032;
}

.social-mail:hover {
    color:#dc0032 !important;
}

.social-mail:visited {
    color:#dc0032;
}

.social-mail:link {
  color:#dc0032;
}
.social-tw {
    color:#00aced;
}

.social-tw:hover {
    color:#00aced !important;
}

.social-tw:visited {
    color:#00aced;
}

.social-tw:link {
  color:#00aced;
}
.social-fb {
    color:#3B5998;
}

.social-fb:hover {
    color:#3B5998 !important;
}

.social-fb:visited {
    color:#3B5998;
}

.social-fb:link {
    color:#3B5998;
}

/*--End Footer--*/


.fa-angle-left, .fa-angle-right{
     position: absolute;
      top: 50%;
      display: inline-block;
      margin-top: -10px;
}

.btn-red{
  font-family: 'Roboto-Bold';
  font-size: 16px;
  background-color: #fff;
  color: #dc0032;
  border-color: #dc0032;
  border-radius: 15px;
}
.btn-red:hover{
  background-color: #dc0032 !important;
  color: #fff !important;
}

.btn-red:focus{
  outline: none !important;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover{
  border: none !important;
  outline: none !important;
}
a.thumbnail{
  outline: none !important;
  border: none;
}

.modal-body{
  padding: 5px;
}


#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}


#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;

    z-index:1032;
}

.dome-red{
  color: #dc0032;
  font-family: 'Roboto-Bold';
}

.dome-green{
  color: #35d01b;
font-family: 'Roboto-Bold';
}

.features{
  font-family: 'Roboto-Bold';
}

.about-text{
  text-align: justify;
}
.form-control{
  font-size: 17px;
}
/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}
h1.title{
  text-align: center;
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .navbar-text {
        float: left;
        /*margin-left: 15px;
        margin-right: 15px;*/
    }
    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }
    .navbar-header {
        left: 0!important
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}

@media only screen and (max-width:767px) {
    /*-----End Navar-----*/
    #slide-nav .container {
        margin: 0!important;
        padding: 0!important;
        height: 100%;
    }
    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
    }
    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }
    #slide-nav #slidemenu {
        /*background: #f7f7f7;*/
        left: -100%;
        width: 40%;
        min-width: 0;
        /*position: absolute;*/
        padding-left: 0;
        z-index: 2;
        top: 75px;
        /*margin-top: 10px;*/
        position: fixed;
        height: 100%;
    }
    #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }
    #slide-nav {
        border-top: 0
    }
    #slide-nav.navbar-invers #slidemenu {
        background-color: #272727;
    }
    #slide-nav .navbar-form {
        width: 100%;
        margin: 8px 0;
        text-align: center;
        overflow: hidden;
        /*fast clearfixer*/
    }
    #slide-nav .navbar-form .form-control {
        text-align: center
    }
    #slide-nav .navbar-form .btn {
        width: 100%
    }
    .navbar-nav>li>a:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 7px;
        background: #dc0032;
        margin-left: -15px;
        opacity: 0;
        bottom: 0;
    }
    /*-----End Navar-----*/
    #page-content {
        margin-top: 70px;
    }
}

@media only screen and (min-width:768px) {

}
