<!DOCTYPE html>
<html ng-app="observatorioapp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/logo.ico">
    <title>Observatorio astronómico Francisco Sánchez</title>
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- AngujarJS -->
    <script src="js/angular.min.js"></script>
    <!-- AngularJS route -->
    <script src="js/angular-route.min.js"></script>
    <!-- routes.js -->
    <script src="js/app.js"></script>
    <!-- Controllers -->
    <script src="js/controller.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="js/bootstrap.min.js"></script>
    <!-- Script js -->
    <script src="js/script.js"></script>
 </head>

<body>


  <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <!-- <a href="#"><img src="img/logo.png" width="50" height="50" alt=""> Observatorio</a> -->

              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ext1-collapse" aria-expanded="true" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"> </span>
    <span class="icon-bar"></span>
    </button>
      <a href="#/" class="navbar-text"><strong>Observatorio Astronómico <br> Francisco Manuel Sanchez</strong></a>
    </div>

          <!-- home -->
          <div class="collapse navbar-collapse navbar-ext1-collapse">
              <ul class="nav navbar-nav" ng-hide="user.login">
                  <li class="active"><a href="#/inicio">Inicio</a></li>
                  <li class="dropdown">
                      <a href="" class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;">Experimentos<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="#/experimento/nocturno">Nocturno</a></li>
                          <li><a href="#/experimento/solar">Solar</a></li>
                      </ul>
                  </li>
                  <li><a href="#/reservas">Reservas</a></li>
                  <li><a href="#/galeria">Galeria</a></li>
                  <li><a href="#/perfil">Perfil</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right" ng-hide="user.login">
                  <li>
                      <p class="navbar-text"><strong>Hola, {{name}}</strong></p><button type="submit" class="btn btn-default navbar-btn">Cerrar sesión</button></li>
              </ul>
              <form class="navbar-form navbar-form-1 navbar-right" role="login" ng-show="user.login">
                  <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email" maxlength="30" ng-model="user.email">
                      <input type="password" class="form-control" placeholder="Contraseña" maxlength="30" ng-model="user.password">
                      <button type="submit" href="#!/inicio" class="btn btn-group-vertical" name="button" ng-click="register()">Entrar</button>
                  </div>
              </form>
          </div>
          <!-- end home -->
      </div>
  </nav>

  <div class="container" ng-view></div>
</body>
</html>
