<!DOCTYPE html>
<html ng-app>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/icono.ico">
    <title>Observatorio astronómico Francisco Sánchez</title>
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- AngujarJS -->
    <script src="js/angular.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="js/bootstrap.min.js"></script>
    <!-- Script js -->
    <script src="js/script.js"></script>
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- <a href="#"><img src="img/icono.png" width="50" height="50" alt=""> Observatorio</a> -->

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ext1-collapse" aria-expanded="true" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                    <a href="#" class="navbar-text"><strong>Observatorio Astronómico <br> Francisco Manuel Sanchez</strong></a>
                </div>

                <!-- home -->
                <div class="collapse navbar-collapse navbar-ext1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Experimentos<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Solar</a></li>
                                <li><a href="#">Nocturno</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Reservas</a></li>
                        <li><a href="#">Galeria</a></li>
                        <li><a href="#">Perfil</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <p class="navbar-text">Hola, {{user.name}}</p><button type="submit" class="btn btn-default navbar-btn">Cerrar sesión</button></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="login">
                        <div class="form-group">
                            <!-- <label  class="control-label ">Iniciar sesion:</label> -->
                            <input type="email" class="form-control" placeholder="Email" maxlength="30" ng-model="user.email">
                            <input type="password" class="form-control" placeholder="Contraseña" maxlength="30" ng-model="user.password">
                            <button type="submit" class="btn btn-group-vertical" name="button" ng-click="register()">Entrar</button>
                        </div>
                    </form>
                </div>
                <!-- end home -->
            </div>
        </nav>

    </div>

</body>

</html>
