<div class="row">
    <h1 class="text-center" style="margin-bottom:50px">Contacto</h1>
    <div class="col-md-6 text-center" id="contacto" style="margin-bottom:20px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
                <h3>Conócenos<span></span></h3>
                <!-- <a href="#" class="social-mail" target="_blank"><i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i></a> -->
                <a href="http://ciclope.info"><img src="img/logo.png" width="45"alt=""></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
                <h3>Síguenos en redes sociales</h3>
                <a href="https://www.facebook.com/ciclopeastro" class="social-fb" target="_blank"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                <a href="https://twitter.com/ciclopegroup" class="social-tw" target="_blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-12">
                <h3>Dirección</h3>
                <p>Escuela Técnica Superior de Ingenieros Informáticos</p>
                <p>Campus de Montegancedo</p>
                <p>28660 Boadilla del Monte</p>
                <p>Madrid - Spain</p>
                <p>Coordenadas: 40º25′ de Latitud Norte y 3º45′ de Longitud Oeste (WGS84)</p>
            </div>
        </div>
        <div class="row">

        </div>

    </div>
    <div class="col-md-6 text-center">
        <!-- <iframe id="maps" src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d3038.122858835822!2d-3.838535!3d40.406129!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d40.406129!2d-3.838535!5e0!3m2!1ses!2ses!4v1491081937169" width="600" height="450" frameborder="0"
            style="border:0;margin-bottom:20px;" allowfullscreen></iframe> -->
        <iframe id="maps" src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d481.62941681890834!2d-3.8385249999999997!3d40.406141!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m3!3m2!1d40.40614!2d-3.8384929999999997!4m0!5e1!3m2!1sen!2sus!4v1491150004785" width="600"
            height="450" frameborder="0" style="border:0;margin-bottom:20px;" allowfullscreen></iframe>
    </div>
</div>
