<h1 class="text-center" style="margin-bottom:50px">Equipamiento Técnico</h1>
<div class="row">

    <div class="col-sm-6">
        <img src="img/cameraObs.jpg" class="img-responsive center-block img-circle" alt="" style="max-width:70%;">
    </div>
    <div class="col-sm-6 text-center">
        <h3>Observatorio</h3>
        <ul class="list-unstyled">
            <li><span class="robot-b">Diámetro</span>: 3,5 metros</li>
        </ul>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6  col-sm-push-6">
        <img src="img/about3.jpg" class="img-responsive img-rounded center-block" alt="" style="max-width:70%;">
    </div>
    <div class="col-sm-6  col-sm-pull-6 text-center">
        <h3>Telescopio Meade LX200GPS</h3>
        <ul class="list-unstyled">
            <li><span class="robot-b">Apertura</span>: 245mm (10')</li>
            <li><span class="robot-b">Distancia focal</span>: 2500mm (f/10)</li>
        </ul>
    </div>

</div>
<hr>
<div class="row">
    <div class="col-sm-6">
        <img src="img/dmk.png" class="img-responsive center-block" alt="" style="max-width:55%;">
    </div>
    <div class="col-sm-6 text-center">
        <h3>Cámara telescopio DMK 41AU02 monocromática</h3>
        <ol class="list-unstyled">
            <li><span class="robot-b">Resolución</span>: 1280x960</li>
            <li><span class="robot-b">Frame rate</span>: 15 fps</li>
            <li><span class="robot-b">Sensor</span>: CCD</li>
        </ol>
    </div>
</div>
