<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container" ng-controller="galeriaController">
    <div>
        <h1 class="text-center" style="margin-bottom:50px">Galería</h1>
    </div>
    <!--Buscador de imagenes--> 
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form class="barraBusqueda">
                <input type="text" placeholder="Buscar imágenes por tag" ng-model="tag">
                <button ng-click="getByTag()"><i class="fa fa-search"></i></button>
            </form>
            <div class="col-md-12" align="center">
                    <button ng-click="downloadZIP()"
                    class="btn btn-success btn-lg" type="button" name="button"
                    style="margin: 30px 0; font-size: 16px;" aria-pressed="true">
                    Descargar imágenes
                    </button>
            </div>
        </div>
    </div>

    <!--Distribucion de las imagenes -->
    <div class="row">
        <div class="gallery col-md-4 col-sm-6 col-xs-12">
            <img src="{{filteredTodos[0]}}" width="100%"></img>
        </div>
        <div class="gallery col-md-4 col-sm-6 col-xs-12">
            <img src="{{filteredTodos[1]}}" width="100%"></img>
        </div>
        <div class="gallery col-md-4 col-sm-6 col-xs-12">
            <img src="{{filteredTodos[2]}}" width="100%"></img>
        </div>
        <div class="gallery col-md-4 col-sm-6 col-xs-12">
            <img src="{{filteredTodos[3]}}" width="100%"></img>
        </div>
        <div class="gallery col-md-4 col-sm-6 col-xs-12">
            <img src="{{filteredTodos[4]}}" width="100%"></img>
        </div>
        <div class="gallery col-md-4 col-sm-6 col-xs-12">
            <img src="{{filteredTodos[5]}}" width="100%"></img>
        </div>
        <div class="gallery col-md-4 col-sm-6 col-xs-12">
            <img src="{{filteredTodos[6]}}" width="100%"></img>
        </div>
        <div class="gallery col-md-4 col-sm-6 col-xs-12">
            <img src="{{filteredTodos[7]}}" width="100%"></img>
        </div>
        <div class="gallery col-md-4 col-sm-6 col-xs-12">
            <img src="{{filteredTodos[8]}}" width="100%"></img>
        </div>
    </div>
    <div class="row">
        <div data-pagination=""
            class="text-center center-block col-md-12 col-sm-12 col-xs-12 pagination-buttons"
            data-num-pages="numPages()" 
            data-current-page="currentPage"
            data-max-size="maxSize"  
            data-boundary-links="true">
        </div>
    </div>
</div>
