<link href="css/images.css" rel="stylesheet" type="text/css">
<script type='text/javascript' src='unitegallery/js/unitegallery.min.js'></script> 
		
<link rel='stylesheet' href='unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 

<ul class="nav nav-tabs nav-tabs__images">
    <li role="presentation" class="active"><a href="#">Imágenes</a></li>
    <li role="presentation"><a href="#">Configuración</a></li>
</ul>

<div class="pictures">
    <img src="{{picture}}" ng-click="openImg($event, $index)" alt="" ng-repeat="picture in pictures track by $index">
</div>

<div class="picture-full-screen" ng-if="showImg">
    <div class="overlay-close" ng-click="closeImg()"></div>
    <img src="" alt="Imágen de ">
</div>