<div class="row">
    <div class="col-md-12">
        <h1 class="title">Observatorio Astronómico Francisco Manuel Sánchez</h1>
        <p class="text-justify">Ubicado en la Escuela Superior de Ingenieros Informáticos de la Universidad Politécnica de Madrid. El primer observatorio astronómico del mundo de acceso libre y gratuito.
        </p>
    </div>
    <!-- <div class="col-md-6">
    <img ng-src="img/observatory.png" alt="" class="img-responsive center-block img-rounded">
  </div> -->

</div>
<div class="row">
    <hr>
    <div class="col-md-6">
        <!-- operativo, listo para usar -->
        <h3 class="text-center">Cámaras del observatorio</h3>
        <p class="black text-center">Puedes ver el observatorio desde diferentes cámaras. <span class="hidden-xs">Seleciona una cámara y <span class="robot-b">haz click sobre la imagen</span></span></p>
        <div>
            <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                <img id="initCamera" src="{{cameraFile}}" alt="" class="img-responsive center-block" style="max-width:70%">
                <!-- <iframe ng-src="{{cameraFile}}" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen>
      </iframe> -->
            </a>
        </div>

        <div class="" style="margin-top:20px;">
            <label class="control-label">Seleciona una cámara</label>
            <form>
                <div class="form-group row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <select class="form-control" name="" ng-model="camera">
              <option value="" selected disabled hidden></option>
              <option value="exterior">Cámara exterior</option>
              <option value="interior">Cámara interior</option>
              <!-- <option value="ccd">Cámara ccd</option> -->
            </select>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <button type="submit" class="btn btn-red" ng-click="SelectCamera()" style="width:100%;"><strong>Ver</strong></button>
                    </div>

                </div>
            </form>
        </div>

    </div>
    <div class="col-md-6">
        <h3 class="text-center">Tiempo Meteorológico</h3>
        <div ng-hide="state.weatherStation" class="alert alert-danger text-center" style="width:80%;margin:auto;margin-bottom:20px;font-weight:bold;">Estación meteorológica no disponible</div>
        <table class="table table-bordered table-striped" style="width:80%;margin:auto;">
            <tbody>
                <tr>
                    <td><strong>Temperatura</strong></td>
                    <td>{{(state.temperature | number:1) + " °C"}}</td>
                </tr>
                <tr>
                    <td><strong>Presión</strong></td>
                    <td>{{state.pressure + " hPa"}}</td>
                </tr>
                <tr>
                    <td><strong>Humedad</strong></td>
                    <td>{{state.humidity + " %"}}</td>
                </tr>
                <tr>
                    <td><strong>Precipitación</strong></td>
                    <td>{{state.rainfall + " "}}</td>
                </tr>
                <tr>
                    <td><strong>Viento</strong></td>
                    <td>{{state.windSpeed + " m/s"}}</td>
                </tr>
                <tr>
                    <td><strong>Dirección del viento</strong></td>
                    <td>{{state.windDirection}}</td>
                </tr>
            </tbody>
        </table>

        <h3 class="text-center">Estado del Observatorio</h3>
        <p class="text-center" ng-bind-html="state.availabilityWeatherStation"></p>
        <p class="text-center" ng-bind-html="state.availabilityDome"></p>
        <p class="text-center" ng-bind-html="state.availabilityCameras"></p>
        <p class="text-center" ng-bind-html="state.availabilityMount"></p>



        <!-- <p class="text-center">{{state.busy}}</p> -->
    </div>
</div>

<!-- Modal imágenes cámaras -->
<div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-content">
            <div class="modal-body">
                <img src="" alt="" />
            </div>
        </div>
    </div>
</div>
