<div class="row">
  <div class="col-md-12">

    <div class="col-md-5 col-md-push-7">
      <h2>Perfil de usuario</h2><br/>
      <p>Nombre de usuario:<span class="robot-b"> {{user.name}}</span></p>
      <p>Email:<span class="robot-b"> {{user.email}}</span></p>
    </div>
    <hr class="visible-xs">
    <div class="col-md-7 col-md-pull-5">
      <h2>Mis reservas</h2><br/>
      <a href="./observacion">sdfsdf</a>
      <p>Desde aquí podrás gestionar tus reservas. Podrás revisarlas, cancelarlas y, en cuanto estén activas, acceder al experimento y controlar el telescopio.</p>
      <!-- <p>No tienes ninguna reserva en este momento</p> -->
      <div class="" style="max-height:285px;overflow:auto;">
        <table class="table table-hover table-condensed text-center" id="res-table">
          <thead>
            <td style="font-weight: bold;font-size: 20px;">Experimento</td>
            <td style="font-weight: bold;font-size: 20px;">Fecha</td>
            <td style="font-weight: bold;font-size: 20px;">Hora</td>
          </thead>
          <tbody>
            <tr ng-repeat="slot in slots">
              <td>{{slot.reservation.experiment}}</td>
              <td>{{slot.reservation.dateCreated}}</td>
              <td>{{slot.startDate}} - {{slot.endDate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" style="margin-top:30px;">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
          <button type="button" class="btn btn-green" ng-click="goToObservation()" name="button">Ir a Experimento</button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
          <button type="button" class="btn btn-red" ng-click="removeReservation()" name="button">Eliminar Reserva</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:20px;">
          <p class="alert alert-danger" id="observationError" style="padding:15px;display:none">Ahora mismo no tienes ninguna reserva pendiente.<br/>Haz una reserva para acceder al experimento.</p>
          <p class="alert alert-success" id="deleteReservationOK" style="padding:15px;display:none">Reserva eliminada correctamente.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-12">
      <h3>Mi galería</h3>
    </div>
    <!-- <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-1">
        <label for="" ng-model="date">Fecha:</label>
        <input type="text" id="mydate2" style="width:100%;max-width:500px;"/>
      </div> -->
    <div class="col-md-12">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-responsive" src="img/i1.png" alt="">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-responsive" src="img/i2.png" alt="">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-responsive" src="img/i3.png" alt="">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-responsive" src="img/i4.jpg" alt="">
      </div>
    </div>

  </div>
</div>
