<div class="">
  <div class="row">
    <div class="col-md-6">
      <br>
        <img src="img/espacio.jpg" class="img-responsive" style="position:relative;">
      <img src="img/observatorio.png" class="img-responsive hidden-sm hidden-xs" style="position:relative;margin: -90px 20px !important;">
    </div>
    <div class="col-md-6">
      <h1>Únete a explorar el espacio</h1>
      <h2>Regístrate ahora</h2>
      <form>
        <div class="form-group">
          <label class="control-label">Nombre de usuario</label>
          <input type="text" class="form-control" placeholder="Nombre de usuario">
        </div>
        <div class="form-group">
          <label class="control-label">Email</label>
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <label class="control-label">Contraseña</label>
          <input type="password" class="form-control" placeholder="Contraseña">
        </div>
      <div class="form-group">
        <label class="control-label">Repetir contraseña</label>
        <input type="password" class="form-control" placeholder="Repetir contraseña">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg">Registrarse</button>
      </div>
      </form>

    </div>
  </div>
</div>
